#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#time-left {
  font-weight: bold;
}

.btn-control {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-control button {
  width: 130px;
}

.setting {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 10px;
}

#setting-wrap {
  margin: auto;
}

.break-setting, .session-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-top: 5px;
}

#break-length, #session-length {
  font-weight: bold;
}

.base-timer {
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
}

.base-timer-circle {
  fill: none;
  stroke: none;
}

.base-timer-path-elapsed {
  stroke-width: 3px;
  stroke: white;
}

.base-timer-label {
  position: absolute;
  width: 200px;
  height: 50px;
  display: block;
  top: 37%;
}